.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  height: 10vh;
}

.header-left {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}

.title > span {
  color: blueviolet;
}

.header-right {
  display: flex;
}

.img-profile {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
