.quiz-container {
  background-color: aquamarine;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.timer {
  font-size: 18px;
  margin-bottom: 10px;
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-size: 20px;
  margin-bottom: 20px;
}

.question img {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-content: center;
  margin: 15px;
}

.answer-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.answer-span.correct {
  border-color: green;
}

.answer-span.incorrect {
  border-color: red;
}

.modalPost-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  height: 40%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.img-modal {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.points {
  position: fixed;
  margin: 0.6rem;
}
